In [6]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a>b:
            return b
        else:
            return a
    elif a%2 != 0 or b%2 != 0:
        if a>b:
            return a
        else:
            return b

In [7]:
lesser_of_two_evens(2,5)

5

In [23]:
def animal_crackers(int_string):
    word = int_string.split()
    #print(word)
    if len(word) != 2:
        return False
    elif word[0][0].lower() == word[1][0].lower():
        return True
    else:
        return False

In [24]:
animal_crackers('Eating elephant')

True

In [25]:
def makes_twenty(a,b):
    if a == 20 or b == 20:
        return True
    elif sum(a,b) == 20:
        return True
    else:
        return False

In [27]:
makes_twenty(20,1)

True

In [28]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return None

In [29]:
old_macdonald('macdonald')

'MacDonald'

In [126]:
def master_yoda(sentence):
    #return ''.join(sentence.split()[::-1])
    sep_sent = sentence.split()
    string1 =''
    length = 0
    for i in sep_sent:
        length +=1
    for word in range(length-1,-1,-1):
        string1 += sep_sent[word]
        if word > 0:
            string1 += ' '
    return string1

In [128]:
master_yoda('We are ready')

'ready are We'

In [61]:
def reverse_words_custom(sentence):
    reversed_sentence = ''
    word = ''
    is_word = False

    for char in sentence:
        if char.isalpha() or char == ',':
            word = char + word
            is_word = True
        else:
            if is_word:
                reversed_sentence += word
                is_word = False
                word = ''
            reversed_sentence += char

    if is_word:
        reversed_sentence += word

    return reversed_sentence

In [66]:
reverse_words_custom('hello, hi')

',olleh ih'

In [136]:
def almost_there(n): 
    # abs give the absolute value like getting a non-negative from negative for a number
    return (abs(100-n) <= 10 or abs(200 - n) <= 10)

In [139]:
almost_there(202)

True

In [169]:
def has33(num):
    for i in range(0,len(num)-1):
        if num[i] == 3 and num[i+1] == 3: 
            return True
    else:
        return False

In [173]:
has33([1,2,3,3,4])

True

In [186]:
def doll(text):
    res = ''
    for word in text:
        res += word * 3
    return res

In [188]:
doll('doll')

'dddooollllll'

In [203]:
def blackjack(a,b,c):
        if sum((a,b,c)) <= 21:
            return sum((a,b,c))
        elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
            return sum((a,b,c)) - 10
        else:
            return 'BUST'

In [204]:
blackjack(12,3,4)

19

In [5]:
a = 4
b = 5
#print(a+b)

In [6]:
sum(a,b)

TypeError: sum() can't sum strings [use ''.join(seq) instead]